body{
    background-color:whitesmoke;
}

.header{
    display: flex;
    justify-content:center;
    font-size: 50px;
    color:aquamarine;
}

.taskbox{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 28%;
    height: auto;
    border: 1px solid lightgrey;
    background-color: white;
    z-index: auto;
}


/* search-container  */

.search-container{
    display: flex;
    /* flex-flow: row wrap;  ??*/
    border-bottom: 0.1em solid lightgray;
    height: 2.25em;
}

/* Arrow Icon  */

.down-icon{
    width: 5%;
    display: inline-block;
    text-align: center;
    padding-top: 0.6em;
}

 /* TextBox */
.textbox {
    display: flex;
    width: 100%;
    flex-grow: 2; 
}  

.tasktext{
    width: 100%;
    border: 0;
    /* box-sizing: border-box; */
    flex-grow: 2;
}

/* todo-container */

.todo-container{
    padding: 0em;
}

/* ul class */
.tasks{
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    padding: 0em;
    margin: 0em;
}

ul li{
    border-bottom: 0.01em solid lightgray;
    list-style-position: inside;
    margin-left: 0%;
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    height: 2em;
}

/* checkbox disguised as tick */
.checktodo{
    border-radius: 5em;
}

/* task info */
.todo{
    display: inline-block;
    flex-grow: 5;
    /* width: 16em;  responsiveness not observed ~ type of hard-code*/
}

/* cross button */
.cross{
    flex-grow: 1;
}

/* action-container */
.action-container{
    display: flex;
}

.taskboxstack{
    margin: auto;
    width: 30%;
    height: auto;
    border: 1px solid lightgrey;
    background-color: white;
    z-index: 0;
}